<form [formGroup]="form" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Surname</mat-label>
    <input matInput formControlName="surname" />
  </mat-form-field>

  <div class="file-input">
    <label for="file">Excel File</label>
    <input id="file" type="file" (change)="onFileChange($event)" accept=".xlsx" />
  </div>

  <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
    Submit
  </button>
</form>
